<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<link rel="stylesheet" href="/stylesheets/index.css">

<main>
  <h1><%= user ? user.profile.name : "Welcome to the Workout Junkie family!" %></h1>
  <% if (user?.profile.avatar) { %>
    <div>
      <img
        src="<%= user.profile.avatar %>"
        alt="<%= user.profile.name %> avatar"
      />
    </div>
  <% } %>
  <br>
  <a href="https://imgur.com/hwUUw0k"><img src="https://i.imgur.com/hwUUw0k.jpg" title="source: imgur.com" /></a>
<p>
  Workout Junkies was designed to create and give individuals access to different workouts in their area! If you are someone who gets bored of their workouts and are looking to try something new, this is a great opportunity to be able to connect with a diverse community! You do not need to have any fitness background— all levels are welcomed. I know that trying new workouts can be very intimidating and you shouldn’t have to worry about running into poor quality fitness studios,  instructions, etc. You will be able to see honest reviews given by real people! 
</p>
</main>


<%- include('./partials/footer') %>
