<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section>
  <h1>Welcome to the world of Workout Junkies!</h1>
  


  <h2>All Studios</h2>
	<ul>
  <% studios.forEach(studio => { %>
    <li>Studio: 
      <a href="/studios/<%=studio._id%> "><%= studio.name %></a>
    </li>
    <li>Location: <%= studio.location %></li>
    <li>
      Accesible Parking? <%= studio.parking ? "Yes" : "No" %> 
    </li>
  <% }) %>
  </ul>
</section>

<%- include('../partials/footer') %>