<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<link rel="stylesheet" href="/stylesheets/studios/index.css">

<section>
  <h1>Welcome to the world of Workout Junkies!</h1>
  


  <h2>All Studios</h2>
  <% studios.forEach(studio => { %>
    <div class="container">
      <div class="card">
        <div class="studio"> 
          <a href="/studios/<%=studio._id%> "><%= studio.name %></a>
        </div>
        <div class="list">
          <li><b>Location:</b> <%= studio.location %>
          </li>
          <li><b>Parking?</b> <%= studio.parking ? "Yes" : "No" %> 
          </li>
        </div>
    </div>
  </div>
  <% }) %>
</section>

<%- include('../partials/footer') %>