<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section>
  <h1>Welcome to the world of Workout Junkies!</h1>
  <% if (user) { %> 
    <h2>Add Studio</h2>
    <form action="/studios" method="POST">
      <label>
        Name of Studio: 
        <input type="text" name="name" autocomplete="off">
      </label>
      <label>
        Location:
        <input type="text" name="location" autocomplete="off">
      </label>
      <label>
        Acessible Parking? 
        <input type="checkbox" name="parking">
      </label>
      <button type="submit">Add Studio</button>
    </form>
    <% } %> 


  <h2>All Studios</h2>
	<ul>
  <% studios.forEach(studio => { %>
    <li>Studio:<%= studio.name %></li>
    <li>Location:<%= studio.location %></li>
    <li>
      <a href="/studios/<%= studio._id%>"><%= studio.parking%></a>
      Accesible Parking? <%= studio.parking ? "Yes" : "No" %> 
    </li>
  <% }) %>
  </ul>
</section>

<%- include('../partials/footer') %>