<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section>
  <h1>Welcome to the world of Workout Junkies!</h1>
  


  <h2>All Studios</h2>
	<ul>
  <% studios.forEach(studio => { %>
    <li>Studio:<%= studio.name %></li>
    <li>Location:<%= studio.location %></li>
    <li>
      <a href="/studios/<%= studio._id%>"><%= studio.parking%></a>
      Accesible Parking? <%= studio.parking ? "Yes" : "No" %> 
    </li>
  <% }) %>
  </ul>
</section>

<%- include('../partials/footer') %>