<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>
<link rel="stylesheet" href="/stylesheets/studios/show.css">
<main>
  <h1> <%= studio.owner.name %> Visted: </h1>
  <h3><%= studio.name %></h3>

<section>
  <table>
      <td><b>Loacted at:</b></td>
      <td><%=studio.location%></td>
      <td><b>Acessible Parking:</b></td>
      <td><%= studio.parking? 'Yes! ' : 'No!' %></td>
    </tr>
  </table>
  <% if (studio.owner.equals(user?.profile._id)) { %>
    <form action="/studios/<%= studio._id%>/edit" method="GET">
    <button id="studB" class="btn" type="submit">Edit Entry</button>
  </form>
  <form action="/studios/<%=studio._id%>?_method=DELETE" method="POST">
    <button class="btn" id="studB" type="submit">Delete</button>
  </form>
    <% } %> 
</section>
<br>
<br>
<form
  id="classes-form"
  action="/studios/<%=studio._id%>/classes"
  method="POST"
>
<label for="category">Class Type</label>
<input type="text", name="category">
<label for="level">Level</label>
<input type="text" name="level">
<button class="btn" type="submit">Submit</button>
</form>

<% if (studio.classes.length) { %>
  <body>
    <% studio.classes.forEach(function(c) { %>
        <ul>
          <li><b>Class Type:</b> <%= c.category%></li>
          <li><b>Level: </b> <%= c.level%></li>
        </ul>
        <b>
          <section id="revs"></section>
          <form 
            id="add-review"
            action="/studios/<%= studio._id %>/classes/<%= c._id %>/reviews"
            method="POST"
          >
            <label for="comments">Review:</label>
            <textarea name="comments" id="comment-textarea"></textarea>
            <label for="rating-select"></label>
            <select name="rating" id="rating-select">
              <option value="⭐️">⭐️</option>
              <option value="⭐️⭐️">⭐️⭐️</option>
              <option value="⭐️⭐️⭐️">⭐️⭐️⭐️</option>
              <option value="⭐️⭐️⭐️⭐️">⭐️⭐️⭐️⭐️</option>
              <option value="⭐️⭐️⭐️⭐️⭐️">⭐️⭐️⭐️⭐️⭐️</option>
            </select>
            <button class="btn" type="submit">Add Reviews</button>
          </form>
          <% if (c.reviews?.length) { %>
              <% c.reviews.forEach(function(review) { %>
                <br>
                <div id="revByOwner"><b>Review from: <%= studio.owner.name %></b></div>
                <br>

                  <div><%= review.comments%></div>
                  <br>
                <div class="review"><%= review.rating%></div>
          
                <% }) %> 
            <% } else { %> 
            <h2>No reivews displayed yet</h2>
            <% } %> 
        
        </div>

      </section>

      <% }) %> 
  </body>
  <% } else { %> 
  <h2>No classes displayed yet</h2>
  <% } %>   
</main>

<%- include('../partials/footer') %>