<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>
<main>
  <h1><%= studio.owner.name %> Visted:</h1>

<section>
  <h2><%= studio.name %></h2>
  <h2>Loacted at: <%= studio.location %> </h2>
  <h2>Accessible Parking: <%= studio.parking? 'Yes! ' : 'No!' %></h2>
  <% if (studio.owner.equals(user?.profile._id)) { %>
    <form action="/studios/<%= studio._id%>/edit" method="GET">
    <button class="btn" type="submit">Edit Entry</button>
  </form>
  <form action="/studios/<%=studio._id%>?_method=DELETE" method="POST">
    <button class="btn" type="submit">Delete</button>
  </form>
    <% } %> 
</section>

<h2>Classes</h2>
<form
  id="classes-form"
  action="/studios/<%=studio._id%>/classes"
  method="POST"
>
<label for="category">Class Type</label>
<input type="text", name="category">
<label for="level">Level</label>
<input type="text" name="level">
<button type="submit">Submit</button>
</form>
<% if (studio.classes.length) { %>
  <head>
    <h2>Class Type</h2>
    <h2>Level</h2>
    
  </head>
  <body>
    <% studio.classes.forEach(function(aClass) { %>
      <div><%= aClass.category%></div>
      <div><%= aClass.level%> </div>

      <% }) %> 
  </body>
  <% } else { %> 
  <h2>No classes displayed yet</h2>
  <% } %> 
  <br>
  <h2>Reviews</h2>
  <form 
    id="add-review"
    action="/studios/<%= studio._id %>/reviews"
    method="POST"
  >
    <label for="comments-textarea">Review:</label>
    <textarea name="Comments" id="comment-textarea"></textarea>
    <label for="rating-select">Rating:</label>
    <select name="rating" id="rating-select">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5" selected>5</option>
    </select>
    <button type="submit">Add Review</button>
  </form>
  
</main>

<%- include('../partials/footer') %>